<div class="footer">
	<section layout="column" layout-gt-sm="row" layout-align="center center" layout-wrap>
		<section layout="row" layout-xs="column" layout-align="center center" layout-wrap class="footer-details">
			<div flex="20" class="footer-box-container">
				<div class="footer-sub-field-title">Quick Links</div>
				<br>
				<a href="#">Home</a><br>
				<a href="#">About Us</a><br>
				<a href="#">Contact Us</a><br>
				<a href="#">Terms & Conditions</a><br>
				<a href="#">Checkout</a><br>
			</div>
			<div flex="45" class="footer-box-container">
				<div class="footer-sub-field-title">Docs</div>
				<br>
				<a href="#">Scoring</a><br>
				<a href="#">Environment</a><br>
				<a href="#">FAQ</a><br>
			</div>
			<div flex="30" class="footer-box-container keep-in-touch">
				<div class="footer-company-field-title">
					<strong><span class="orange">store.</span>biggbinder<span>.com</span></strong>
				</div>
				<div class="footer-sub-field-title">Keep in Touch</div>
				<br>
				<md-button class="md-fab md-mini md-accent" aria-label="facebook-share">
					<md-icon md-svg-src="dist/vendor/icons/facebook.svg"></md-icon>
				</md-button>
				<md-button class="md-fab md-mini md-accent" aria-label="twitter-share">
					<md-icon md-svg-src="dist/vendor/icons/twitter.svg"></md-icon>
				</md-button>
				<md-button class="md-fab md-mini md-accent" aria-label="instagram-share">
					<md-icon md-svg-src="dist/vendor/icons/instagram.svg"></md-icon>
				</md-button>
			</div>
		</section>
	</section>
</div>